body {
    font-family: "Bahnschrift";
    font-family: "Poppins" sans-serif;
    // font-family: "";
    // background: #000;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

$second-color: rgb(23, 26, 29);
// $second-color: rgba(30, 30, 30, 1);
$first-color: rgb(236, 137, 55);
// $first-color: rgb(246, 168, 105);

::-webkit-scrollbar {
    width: 5px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: $first-color;
}

.container {
    max-width: 92%;
    padding-left: 10px;
    padding-right: 10px;
}

.navv {
    width: 100%;
    color: #fff !important;
    background-color: transparent;
    overflow: hidden;
    // filter: blur(3px);
    // position: absolute;
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba($color: #000, $alpha: .5);

    }

    .overlay2 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        filter: blur(2px);
        z-index: 11;
    }

    // .block_00 {
    //     padding-top: 10px;
    //     padding-bottom: 10px;
    // }
    .block_00 {
        position: relative;
        z-index: 12;
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: .3s;

        &:hover {
            color: $first-color;
        }
    }

    h1 {
        margin: 0;
        padding: 0;
        font-family: "Goth Titan";

        .p {
            position: relative;
            color: $first-color;
            top: -8px;
            font-size: 40px;
            // font-family: "Bahnschrift";
            // font-family: JetBrains Mono;
        }
    }

    .links {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
        }

        .ul-nav {
            width: 100%;
            list-style: none;
            margin-bottom: 0;
            display: flex;
            justify-content: center;

            .liink {
                position: relative;
                display: inline-block;
                margin-bottom: 0;
                // background-color: $second-color;
                background-color: transparent;
                padding-left: 20px;
                padding-right: 20px;
                transition: .3s;

                a {
                    color: white;
                    text-decoration: none;
                    transition: .3s;

                    i {
                        transform: rotate(100deg);
                        font-style: inherit;
                    }

                    p {
                        padding-top: 22px;
                        padding-bottom: 22px;
                    }
                }

                .active {
                    color: $first-color;
                    font-weight: 600;
                }

                .drop-down {
                    position: absolute;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background: $second-color;
                    top: 68px;
                    left: 0;
                    transition: .3s;
                    max-width: 500px !important;
                    display: none;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        min-width: 150px;

                        li {
                            background: $second-color;
                            transition: 0.2s;

                            a {
                                p {
                                    padding: 10px !important;
                                    margin: 0;
                                    transition: .2s;
                                    color: white !important;
                                }

                            }

                            &:hover {
                                background: black;

                                p {
                                    color: $first-color !important;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    background-color: black;

                    a {
                        color: $first-color;
                    }

                    .drop-down {
                        display: block;
                    }
                }
            }
        }
    }

    .form {
        // width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 20px;

        .search-input {
            outline: none;
            border: 1px solid transparent;
            padding: 5px;
            // border-radius: 5px;
            background: transparent;
            color: white;

            // display: none;
            &:focus {
                transition: .3s;
                border: 1px solid transparent;
                border-bottom: 1px solid #777;
                // background: $second-color;
            }
        }

        input#search.search-input {
            background: transparent !important;
        }

        i {
            margin: 0;
            margin-left: 10px;
            // padding: 0;
            background: $second-color;
            padding: 13px;
            padding-top: 9px;
            padding-bottom: 9px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .params {
        // margin-left: 10%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            background-color: transparent;
            outline: none;
            border: none;
            color: white;

            i {
                padding: 13px;
                background: $second-color;
                transition: .3s;
            }

            &:hover {
                i {
                    background-color: $first-color;
                }
            }
        }
    }
}

.anime {
    position: relative;
    top: 67px;

    .tab {
        background-color: $second-color;
        margin: 0;
        padding: 15px;
        border-bottom: 2px solid rgba($color: #fff, $alpha: .5);

        p {
            margin: 0;
        }
    }

    .boxes {
        position: relative;
        width: 100%;
        z-index: 5;
        margin-bottom: 30px;

        .epi-box {
            // position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    background-color: $second-color;
                    border-bottom: 1px solid #333;

                    a {
                        color: white;
                        text-decoration: none;
                        transition: .3s;

                        p {
                            margin: 0;
                            padding: 10px;
                            font-size: 15px;
                        }
                    }

                    &:hover {
                        a {
                            color: $first-color;
                        }
                    }
                }
            }
        }
    }

    .col-lg-3,
    .col-lg-7,
    .col-lg-2 {
        padding: 0;
    }

    .video {
        width: 100%;
        height: 70vh;
        background-color: $second-color;
        padding: 30px;
        // video {
        //     z-index: 4;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: auto;
        //     opacity: 1;

        // }
    }
    .hira{
        width: 100%;
        height: 300px;
        background-color: $second-color;
        background-image: url(../img/demon.jpg);
        filter: blur(10px);
        overflow: hidden;
        background-size: contain;
    }
}